@import url(https://fonts.googleapis.com/css?family=Poppins);

* {
    font: normal 13pt 'Poppins';
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(189, 179, 161);
}

div#topbar {
    display: flex;
    padding-left: 10vw;
    align-items: center;
    height: 4vh;
    background-color: gray;
}

div#user {
    padding-left: 65vw;
    align-items: center;
    display: flex;
    height: 4vh;
}

img#icon {
    height: 30px;
    cursor: pointer;
}

input#search-box {
    padding: 2px;
    height: 2.5vh;
}

#create-ticket-btn{
    display:flex;
    color: black;
    border-width: 1px;
    border-radius: 4px;
    padding: 2px;

}


#ticket-list > div > h1 > button,
#no-completed-ticket-list > div > h1 > button{
    color: black;
    border-width: 1px;
    border-radius: 4px;
    background-color: mediumpurple;
    padding: 1px;
}

#no-completed-ticket-list > div:nth-child(2) > h1{
    padding-top: 3px;
}

#ticket-list > h1:nth-child(1),
#ticket-list > h1:nth-child(2){
    color: royalblue;
}

#ticket-list > h1:nth-child(3),
#ticket-list > h1:nth-child(4){
    padding-top: 15px;
    color: green;
}

#ticket-list > h1:nth-child(5){
    padding-top: 15px;
    color: red;
}

#ticket-list{
    padding-left: 30px;
    padding-top: 20px;
}